<div style="width: 100%; height: 800px">
  <!--<select (change)="onChangeCityProvince($event.target.value)">-->
    <!--<option *ngFor="let item of ctprvnList" [value]="item.value">{{ item.name }}</option>-->
  <!--</select>-->
  <div style="margin-bottom: 10px">
    <select [(ngModel)]="ctprvn" class="form-control" (change)="onChangeCtprvn()">
      <option value="0">전체지도</option>
      <option *ngFor="let item of ctprvnList" [ngValue]="item.value">{{ item.name }}</option>
    </select>
    <select *ngIf="showBorough" class="form-control" [(ngModel)]="sig" (change)="onChangeSig()" style="margin-left: 10px">
      <option *ngFor="let item of sigList" [ngValue]="item.value">{{ item.name }}</option>
    </select>
  </div>
  <div echarts #chart
       [options]="options"
       [loading]="!mapLoaded"
       [autoResize]="true"
       (chartMouseUp)="mouseUp($event)"
       (chartMouseDown)="mouseDown($event)"
       (chartMouseMove)="mouseMove($event)"
       style="height: 100%"
       class="demo-chart"></div>
</div>

<router-outlet></router-outlet>
